#cupra1 {
  color: #ffffff;
  background-color: #444444;
  margin: 15px;
  padding: 15px;
}
#cupra2 {
  color: #ffffff;
  background-color: #444444;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

